.popup__submit-button {
	max-width: 358px;
	height: 50px;
	border: none;
	background-color: #000000;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	text-align: center;	
	padding: 0;
	border-radius: 2px;
	transition: opacity linear 0.5s;
}

.popup__submit-button:hover {
	opacity: 0.8;
}

.popup__submit-button:focus {
	outline: none;
}
@media screen and (max-width: 690px) {
	.popup__submit-button {
		font-size: 14px;
		line-height: 17px;
	}
}