.profile__description {
	max-width: 336px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	align-self: baseline;
}

@media screen and (max-width: 690px) {
	.profile__description {
		max-width: 282px;
		font-size: 14px;
		line-height: 17px;
		align-self: center;
		justify-self: center;
		grid-column: 1/1;
		grid-row: 2/2;
	}
}